body {
    font-family: Arial, sans-serif;
}

.menu-container {
    width: 80%;
    margin: auto;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.food-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.food-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.food-item p {
    margin: 0;
    font-size: 18px;
}
.food-container{
    display: flex;
    flex-direction: column;
}
.menu-container {
    width: 71%;
    display: flex;
    /* margin: auto; */
    justify-content: space-evenly;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}